.status {
  font-weight: bold;
  background-color: aliceblue;
  border: 2px solid lightblue;
  padding: 5px;
  border-radius: 10px;
}

label {
  border: 1px solid #ccc;
  padding: 3px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #b9db33;
  color: grey;
}

div {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

p {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 2px;
  border-radius: 10px;
}

.ticket {
  list-style: none;
  margin: 10;
  padding: 10;
  width: 15rem;
  background-color: grey;
}

button:hover {
  cursor: pointer;
  background-color: lightgray;
}
