<div>
    <ul>
        @for (ticket of tickets; track ticket.id) {
            <li>
                <app-ticket 
                    [class]="{
                        yellow: $first,
                        grey: $first === false
                    }"
                    [data]="ticket">
                </app-ticket>
            </li>
        } @empty {
            <p>No tickets available.</p>
        }
    </ul>
</div>

<div id="new-ticket">
    <app-new-ticket (addTicket)="onAddTicket($event)" />
</div>
